/* card */
.cards {
  display: flex;
  justify-content: space-around;
}

/* product info */
.product-img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

/* product description */
/* header */
.product-header h2 {
  font-size: 2.3rem;
}

.product-header p {
	opacity: 0.7;
}

/* body */
.product-body p {
  text-align: justify;
  opacity: 0.7;
  padding: 0;
}

/* footer */
.product-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.product-price {
  font-size: 2.2rem;
}

.btn-buy {
  font-size: 1.3rem;
  padding: 15px 40px;
  border-radius: 30px;
}

@media (max-width: 767px) {
  .container {
    height: 100%;
  }
  .cards {
    flex-wrap: wrap;
    width: 90%;
  }
  .product-info {
    height: 200px;
    margin: 10px auto;
    overflow: hidden;
  }
  .product-img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
  }
  .product-description {
    padding: 10px;
    text-align: center;
  }
  .product-header {
    padding: 0;
    margin: 0 auto 10px auto;
  }
  .product-body {
    margin: 0 auto 10px auto;
  }
  .product-body p {
    font-size: 1.2rem;
  }
}

@media (min-width: 768px) {
  .product-info, .product-description {
    width: 50%;
  }
  .product-description {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .cards {
    width: 90%;
    height: 500px;
  }
}

@media (min-width: 992px) {
  .cards {
    width: 750px;
  }
}

